.venv/
.venv_rknn/
.idea/
simulator/mvtec/
backend/vision.db
backend/static/defects/
*.pyc
__pycache__/
node_modules/
frontend/out/
build/
models/
datasets/
results/
lightning_logs/
*.ckpt
imagenette/
logs/
debug/
temp_docs/
*:Zone.Identifier
